In [1]:
##Import pandas

import pandas as pd

In [2]:
##import csv
##had to add year-test because mycols was not reading year-cal. I don't know why. 

pd.read_csv("input data/gr-fi-middleatlantic-tidy.csv")

,year-test,year-cal,region,fshwtscale,fsrasch,famsize,nchild,age,educ,finsec,...,immigrant,urban,urban1,fingerprint,outreach,bbce,cap,compdq,edu,fincome
0,2003,2003,Middle Atlantic Division,3309.3108,95.00,4 family members present,2,43,Master's degree,food secure,...,immigrant,1,0,1.0,1974.5374,0.0,0.416667,0.0,5,3
1,2003,2003,Middle Atlantic Division,2341.3600,95.00,3 family members present,1 child present,80,Some college but no degree,food secure,...,non-immigrant,1,0,1.0,1974.5374,0.0,0.416667,0.0,3,2
2,2003,2003,Middle Atlantic Division,2898.1533,95.00,3 family members present,1 child present,32,Bachelor's degree,food secure,...,non-immigrant,1,0,1.0,1974.5374,0.0,0.416667,0.0,4,2
3,2003,2003,Middle Atlantic Division,3152.5376,4.23,3 family members present,0 children present,27,None or preschool,food insecure,...,non-immigrant,1,0,1.0,1974.5374,0.0,0.416667,0.0,1,2
4,2003,2003,Middle Atlantic Division,3091.8936,6.61,5 family members present,0 children present,18,"12th grade, no diploma",food insecure,...,immigrant,1,0,1.0,1974.5374,0.0,0.416667,0.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26512,2011,2011,Middle Atlantic Division,2966.3093,95.00,1 family member present,0 children present,48,"Associate's degree, occupational/vocational pr...",food secure,...,non-immigrant,0,1,0.0,1050.3480,1.0,1.000000,0.0,3,7
26513,2011,2011,Middle Atlantic Division,4676.7866,95.00,1 family member present,0 children present,23,High school diploma or equivalent,food secure,...,non-immigrant,1,0,0.0,1050.3480,1.0,1.000000,0.0,2,4
26514,2011,2011,Middle Atlantic Division,4805.5654,8.00,1 family member present,0 children present,64,Bachelor's degree,food insecure,...,non-immigrant,1,0,0.0,1050.3480,1.0,1.000000,0.0,4,4
26515,2011,2011,Middle Atlantic Division,3178.1924,95.00,5 family members present,3,44,Bachelor's degree,food secure,...,non-immigrant,1,0,0.0,1050.3480,1.0,1.000000,0.0,4,9
26516,2011,2011,Middle Atlantic Division,6294.4600,3.40,5 family members present,4,29,High school diploma or equivalent,food insecure,...,non-immigrant,1,0,0.0,1050.3480,1.0,1.000000,0.0,2,2

In [3]:
##Removed columns not needed
my_columns=["year-test", "famsize", "nchild", "age", "educ", "finsec", "Gender", "Race", "unemp", "snap", "immigrant"]

In [4]:
my_columns

['year-test',
 'famsize',
 'nchild',
 'age',
 'educ',
 'finsec',
 'Gender',
 'Race',
 'unemp',
 'snap',
 'immigrant']

In [5]:
#Store as a data frame
df=pd.read_csv("input data/gr-fi-middleatlantic-tidy.csv", low_memory = False, usecols = my_columns)

In [6]:
df.head(900)

,year-test,famsize,nchild,age,educ,finsec,Gender,Race,unemp,snap,immigrant
0,2003,4 family members present,2,43,Master's degree,food secure,Female,white,No,No,immigrant
1,2003,3 family members present,1 child present,80,Some college but no degree,food secure,Male,white,No,No,non-immigrant
2,2003,3 family members present,1 child present,32,Bachelor's degree,food secure,Male,white,No,No,non-immigrant
3,2003,3 family members present,0 children present,27,None or preschool,food insecure,Female,hispanic,No,Yes,non-immigrant
4,2003,5 family members present,0 children present,18,"12th grade, no diploma",food insecure,Male,white,No,Yes,immigrant
...,...,...,...,...,...,...,...,...,...,...,...
895,2003,5 family members present,0 children present,20,Some college but no degree,food secure,Male,white,No,No,non-immigrant
896,2003,1 family member present,0 children present,32,High school diploma or equivalent,food insecure,Female,black,No,No,non-immigrant
897,2003,2 family members present,1 child present,39,High school diploma or equivalent,food secure,Male,white,No,No,non-immigrant
898,2003,3 family members present,2,36,High school diploma or equivalent,food insecure,Female,hispanic,No,Yes,immigrant
899,2004,4 family members present,2,39,Bachelor's degree,food secure,Female,black,No,No,immigrant

In [7]:

df.tail()

,year-test,famsize,nchild,age,educ,finsec,Gender,Race,unemp,snap,immigrant
26512,2011,1 family member present,0 children present,48,"Associate's degree, occupational/vocational pr...",food secure,Male,other,No,No,non-immigrant
26513,2011,1 family member present,0 children present,23,High school diploma or equivalent,food secure,Male,other,Yes,No,non-immigrant
26514,2011,1 family member present,0 children present,64,Bachelor's degree,food insecure,Male,white,No,No,non-immigrant
26515,2011,5 family members present,3,44,Bachelor's degree,food secure,Male,white,No,No,non-immigrant
26516,2011,5 family members present,4,29,High school diploma or equivalent,food insecure,Female,black,Yes,Yes,non-immigrant

In [8]:
#This is the correct amount of entries.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year-test  26517 non-null  int64
 1   famsize    26517 non-null  object
 2   nchild     26517 non-null  object
 3   age        26517 non-null  int64
 4   educ       26517 non-null  object
 5   finsec     26517 non-null  object
 6   Gender     26517 non-null  object
 7   Race       26517 non-null  object
 8   unemp      26517 non-null  object
 9   snap       26517 non-null  object
 10  immigrant  26517 non-null  object
dtypes: int64(2), object(9)
memory usage: 2.2+ MB

In [9]:
df.describe()

          year-test           age
count  26517.000000  26517.000000
mean    2007.957725     44.368217
std        2.223193     19.395041
min     2003.000000     15.000000
25%     2006.000000     28.000000
50%     2008.000000     43.000000
75%     2010.000000     58.000000
max     2011.000000     85.000000

In [10]:
##Change year-test to string so I can filter

df['year-test'] = df['year-test'].apply(str)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year-test  26517 non-null  object
 1   famsize    26517 non-null  object
 2   nchild     26517 non-null  object
 3   age        26517 non-null  int64
 4   educ       26517 non-null  object
 5   finsec     26517 non-null  object
 6   Gender     26517 non-null  object
 7   Race       26517 non-null  object
 8   unemp      26517 non-null  object
 9   snap       26517 non-null  object
 10  immigrant  26517 non-null  object
dtypes: int64(1), object(10)
memory usage: 2.2+ MB

In [19]:
## Filter for food insecurity

df[df["finsec"].str.contains("insecure")]
df_fi=df[df["finsec"].str.contains("insecure")]

In [21]:
##This filtered correctly, I should have 7460 food insecure people in this dataset.

df_fi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7460 entries, 3 to 26516
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year-test  7460 non-null   object
 1   famsize    7460 non-null   object
 2   nchild     7460 non-null   object
 3   age        7460 non-null   int64
 4   educ       7460 non-null   object
 5   finsec     7460 non-null   object
 6   Gender     7460 non-null   object
 7   Race       7460 non-null   object
 8   unemp      7460 non-null   object
 9   snap       7460 non-null   object
 10  immigrant  7460 non-null   object
dtypes: int64(1), object(10)
memory usage: 699.4+ KB

In [25]:
filter2007 = df_fi["year-test"] == "2007"
fi_2007=df_fi[filter2007]

In [29]:
#filter for 2007
#These numbers don't track. Should only be 577 .
df_fi_2007 = df_fi[df_fi["year-test"]=="2007"]

df_fi_2007.head(800)

,year-test,famsize,nchild,age,educ,finsec,Gender,Race,unemp,snap,immigrant
3086,2007,4 family members present,2,61,Some college but no degree,food insecure,Male,white,Yes,No,non-immigrant
3092,2007,3 family members present,1 child present,32,"Associate's degree, academic program",food insecure,Male,white,No,No,non-immigrant
3096,2007,3 family members present,1 child present,42,High school diploma or equivalent,food insecure,Male,white,No,No,non-immigrant
3098,2007,1 family member present,0 children present,53,Grade 10,food insecure,Male,white,No,No,non-immigrant
3099,2007,5 family members present,3,58,Some college but no degree,food insecure,Male,white,No,No,non-immigrant
...,...,...,...,...,...,...,...,...,...,...,...
14134,2007,1 family member present,0 children present,51,Bachelor's degree,food insecure,Female,white,No,No,non-immigrant
14135,2007,4 family members present,3,32,High school diploma or equivalent,food insecure,Female,white,No,Yes,non-immigrant
14150,2007,8 family members present,0 children present,15,Grades 7 or 8,food insecure,Male,white,No,No,non-immigrant
14154,2007,3 family members present,0 children present,17,Grade 11,food insecure,Female,white,No,No,non-immigrant
14158,2007,8 family members present,0 children present,20,High school diploma or equivalent,food insecure,Male,hispanic,Yes,Yes,non-immigrant

In [31]:
#filter for 2008
#These numbers don't track. Should only be 933 .
df_fi_2008 = df_fi[df_fi["year-test"]=="2008"]

df_fi_2008.head(800)

,year-test,famsize,nchild,age,educ,finsec,Gender,Race,unemp,snap,immigrant
3663,2008,1 family member present,0 children present,36,Master's degree,food insecure,Female,white,No,No,non-immigrant
3670,2008,5 family members present,3,26,High school diploma or equivalent,food insecure,Male,white,No,No,non-immigrant
3672,2008,2 family members present,0 children present,16,Grade 9,food insecure,Female,hispanic,No,No,non-immigrant
3680,2008,1 family member present,0 children present,20,Grade 10,food insecure,Female,white,No,No,non-immigrant
3683,2008,3 family members present,1 child present,48,Grade 10,food insecure,Male,white,No,No,non-immigrant
...,...,...,...,...,...,...,...,...,...,...,...
15919,2008,4 family members present,3,26,Some college but no degree,food insecure,Female,white,No,No,non-immigrant
15924,2008,1 family member present,0 children present,51,High school diploma or equivalent,food insecure,Male,black,Yes,No,non-immigrant
15925,2008,4 family members present,2,43,High school diploma or equivalent,food insecure,Male,hispanic,No,No,immigrant
15927,2008,1 family member present,0 children present,23,High school diploma or equivalent,food insecure,Female,white,Yes,No,non-immigrant
15928,2008,4 family members present,0 children present,16,Grade 10,food insecure,Male,black,No,No,non-immigrant

In [32]:
df_fi_2008.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1184 entries, 3663 to 17248
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year-test  1184 non-null   object
 1   famsize    1184 non-null   object
 2   nchild     1184 non-null   object
 3   age        1184 non-null   int64
 4   educ       1184 non-null   object
 5   finsec     1184 non-null   object
 6   Gender     1184 non-null   object
 7   Race       1184 non-null   object
 8   unemp      1184 non-null   object
 9   snap       1184 non-null   object
 10  immigrant  1184 non-null   object
dtypes: int64(1), object(10)
memory usage: 111.0+ KB

In [33]:
#filter for 2011
#These numbers don't track. Should only be 950 .
df_fi_2011 = df_fi[df_fi["year-test"]=="2011"]

df_fi_2011.head(800)

,year-test,famsize,nchild,age,educ,finsec,Gender,Race,unemp,snap,immigrant
6511,2011,6 family members present,0 children present,16,Grades 7 or 8,food insecure,Male,hispanic,No,No,non-immigrant
6515,2011,4 family members present,2,39,High school diploma or equivalent,food insecure,Female,white,No,No,non-immigrant
6518,2011,1 family member present,0 children present,21,Some college but no degree,food insecure,Female,white,No,No,non-immigrant
6519,2011,4 family members present,0 children present,15,Grade 10,food insecure,Female,black,No,Yes,non-immigrant
6532,2011,3 family members present,1 child present,23,High school diploma or equivalent,food insecure,Female,black,Yes,Yes,non-immigrant
...,...,...,...,...,...,...,...,...,...,...,...
25226,2011,5 family members present,3,25,Grade 9,food insecure,Female,hispanic,Yes,Yes,non-immigrant
25227,2011,6 family members present,3,52,High school diploma or equivalent,food insecure,Female,white,No,No,non-immigrant
25228,2011,4 family members present,1 child present,48,Bachelor's degree,food insecure,Female,white,Yes,No,immigrant
25233,2011,1 family member present,0 children present,56,High school diploma or equivalent,food insecure,Female,white,No,Yes,non-immigrant
25237,2011,2 family members present,0 children present,69,Grade 10,food insecure,Female,hispanic,No,Yes,non-immigrant

In [34]:
df_fi_2011.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1181 entries, 6511 to 26516
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year-test  1181 non-null   object
 1   famsize    1181 non-null   object
 2   nchild     1181 non-null   object
 3   age        1181 non-null   int64
 4   educ       1181 non-null   object
 5   finsec     1181 non-null   object
 6   Gender     1181 non-null   object
 7   Race       1181 non-null   object
 8   unemp      1181 non-null   object
 9   snap       1181 non-null   object
 10  immigrant  1181 non-null   object
dtypes: int64(1), object(10)
memory usage: 110.7+ KB

In [ ]:

df_fi_2003["Gender"].value_counts()

In [35]:
df_fi_2008["Race"].value_counts()

white       665
hispanic    245
black       228
other        46
Name: Race, dtype: int64

In [30]:
df_fi_2007["Race"].value_counts()

white       422
black       137
hispanic    122
other        36
Name: Race, dtype: int64

In [36]:
df_fi_2011["Race"].value_counts()

white       663
hispanic    281
black       187
other        50
Name: Race, dtype: int64

In [37]:
## which years are the worst for food insecurity?
##None of these numbers are right. I'm going to have to use excel for now. 
df_fi["year-test"].value_counts(ascending = False)

2010    1230
2008    1184
2011    1181
2009    1176
2006     824
2007     717
2005     668
2004     241
2003     239
Name: year-test, dtype: int64